<h1 align="center">Course Listing</h1>

<ul>
	<li>Code: CS111</li>
	<li>Name: Introduction to Computer Science</li>
	<li>Description: A thorough introduction to a world of Computer Science</li>
</ul>


<ul>
	<li>Code: EE121</li>
	<li>Name: Introduction to Embedded Electronic</li>
	<li>Description: A thorough introduction to a world of Embedded Electronic</li>
</ul>

<ul>
	<li>Code: EV222</li>
	<li>Name: Introduction to Environment Education</li>
	<li>Description: A thorough introduction to Environment Education</li>
</ul>

<ul>
	<li>Code: CS111</li>
	<li>Name: Introduction to Computer Science</li>
	<li>Description: A thorough introduction to a world of Computer Science</li>
</ul>